<?xml version="1.0"?>
<HenkieF16FuelFlowIndicator xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Devices>
    <Device>
      <ConnectionType>USB</ConnectionType><!-- can be either USB or PHCC -->
      <COMPort>COM9</COMPort>
      <Address>0x46</Address><!-- Fuel Flow Indicator firmware is given address 0x46, by default.  NOTE: This must match the actual DOA device address which is programmed into the firmware for this Fuel Flow Indicator card. -->
      <StatorBaseAnglesConfig>
        <S1BaseAngleDegrees>113.26</S1BaseAngleDegrees>
        <S2BaseAngleDegrees>233.26</S2BaseAngleDegrees>
        <S3BaseAngleDegrees>353.26</S3BaseAngleDegrees>
      </StatorBaseAnglesConfig>
      <OutputChannelsConfig>
        <DIG_OUT_1> 
          <InitialValue>false</InitialValue>
        </DIG_OUT_1>
        <DIG_OUT_2>
          <InitialValue>false</InitialValue>
        </DIG_OUT_2>
        <DIG_OUT_3>
          <InitialValue>false</InitialValue>
        </DIG_OUT_3>
        <DIG_OUT_4>
          <InitialValue>false</InitialValue>
        </DIG_OUT_4>
        <DIG_OUT_5>
          <InitialValue>false</InitialValue>
        </DIG_OUT_5>
      </OutputChannelsConfig>
      <DiagnosticLEDMode>Heartbeat</DiagnosticLEDMode>
      <CalibrationData>
		  <CalibrationPoint>
			  <Input>0</Input>
			  <Output>0</Output>
		  </CalibrationPoint>
		  <CalibrationPoint>
			  <Input>500</Input>
			  <Output>18</Output>
		  </CalibrationPoint>
		  <CalibrationPoint>
			  <Input>800</Input>
			  <Output>30</Output>
		  </CalibrationPoint>
		  <CalibrationPoint>
			  <Input>900</Input>
			  <Output>31</Output>
		  </CalibrationPoint>
        <CalibrationPoint>
          <Input>1000</Input>
          <Output>37</Output>
        </CalibrationPoint>
		  <CalibrationPoint>
			  <Input>1100</Input>
			  <Output>41</Output>
		  </CalibrationPoint>
		  <CalibrationPoint>
			  <Input>1200</Input>
			  <Output>44</Output>
		  </CalibrationPoint>
		  <CalibrationPoint>
			  <Input>1300</Input>
			  <Output>48</Output>
		  </CalibrationPoint>
		  <CalibrationPoint>
			  <Input>1400</Input>
			  <Output>52</Output>
		  </CalibrationPoint>
		  <CalibrationPoint>
			  <Input>1500</Input>
			  <Output>56</Output>
		  </CalibrationPoint>
        <CalibrationPoint>
          <Input>1600</Input>
          <Output>59</Output>
        </CalibrationPoint>
		  <CalibrationPoint>
			  <Input>1700</Input>
			  <Output>63</Output>
		  </CalibrationPoint>
		  <CalibrationPoint>
			  <Input>1800</Input>
			  <Output>67</Output>
		  </CalibrationPoint>
		  <CalibrationPoint>
			  <Input>1900</Input>
			  <Output>71</Output>
		  </CalibrationPoint>
        <CalibrationPoint>
          <Input>2000</Input>
          <Output>75</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>2500</Input>
          <Output>95</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>3000</Input>
          <Output>115</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>3500</Input>
          <Output>134</Output>
        </CalibrationPoint>
		  <CalibrationPoint>
			  <Input>3600</Input>
			  <Output>139</Output>
		  </CalibrationPoint>
        <CalibrationPoint>
          <Input>4000</Input>
          <Output>159</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>4500</Input>
          <Output>181</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>5000</Input>
          <Output>206</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>5500</Input>
          <Output>230</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>6000</Input>
          <Output>256</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>6500</Input>
          <Output>286</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>7000</Input>
          <Output>315</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>7500</Input>
          <Output>347</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>8000</Input>
          <Output>379</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>8500</Input>
          <Output>415</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>9000</Input>
          <Output>452</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>9500</Input>
          <Output>485</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>10000</Input>
          <Output>527</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>10500</Input>
          <Output>564</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>11000</Input>
          <Output>603</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>11500</Input>
          <Output>638</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>12000</Input>
          <Output>674</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>12500</Input>
          <Output>714</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>13000</Input>
          <Output>740</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>13500</Input>
          <Output>770</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>14000</Input>
          <Output>795</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>14500</Input>
          <Output>824</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>15000</Input>
          <Output>849</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>15500</Input>
          <Output>873</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>16000</Input>
          <Output>897</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>16500</Input>
          <Output>917</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>17000</Input>
          <Output>938</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>17500</Input>
          <Output>958</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>18000</Input>
          <Output>978</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>18500</Input>
          <Output>997</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>19000</Input>
          <Output>1015</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>19500</Input>
          <Output>1034</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>20000</Input>
          <Output>1051</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>20500</Input>
          <Output>1069</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>21000</Input>
          <Output>1085</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>21500</Input>
          <Output>1102</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>22000</Input>
          <Output>1118</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>22500</Input>
          <Output>1134</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>23000</Input>
          <Output>1150</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>23500</Input>
          <Output>1168</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>24000</Input>
          <Output>1184</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>24500</Input>
          <Output>1198</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>25000</Input>
          <Output>1214</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>25500</Input>
          <Output>1216</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>26000</Input>
          <Output>1230</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>26500</Input>
          <Output>1249</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>27000</Input>
          <Output>1262</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>27500</Input>
          <Output>1279</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>28000</Input>
          <Output>1295</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>28500</Input>
          <Output>1314</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>29000</Input>
          <Output>1328</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>29500</Input>
          <Output>1344</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>30000</Input>
          <Output>1362</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>30500</Input>
          <Output>1380</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>31000</Input>
          <Output>1395</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>31500</Input>
          <Output>1421</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>32000</Input>
          <Output>1440</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>32500</Input>
          <Output>1459</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>33000</Input>
          <Output>1478</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>33500</Input>
          <Output>1496</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>34000</Input>
          <Output>1520</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>34500</Input>
          <Output>1542</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>35000</Input>
          <Output>1567</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>35500</Input>
          <Output>1596</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>36000</Input>
          <Output>1623</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>36500</Input>
          <Output>1650</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>37000</Input>
          <Output>1695</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>37500</Input>
          <Output>1730</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>38000</Input>
          <Output>1755</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>38500</Input>
          <Output>1785</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>39000</Input>
          <Output>1826</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>39500</Input>
          <Output>1863</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>40000</Input>
          <Output>1900</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>40500</Input>
          <Output>1937</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>41000</Input>
          <Output>1978</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>41500</Input>
          <Output>2012</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>42000</Input>
          <Output>2047</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>42500</Input>
          <Output>2075</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>43000</Input>
          <Output>2101</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>43500</Input>
          <Output>2130</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>44000</Input>
          <Output>2175</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>44500</Input>
          <Output>2200</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>45000</Input>
          <Output>2230</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>45500</Input>
          <Output>2255</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>46000</Input>
          <Output>2280</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>46500</Input>
          <Output>2300</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>47000</Input>
          <Output>2323</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>47500</Input>
          <Output>2342</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>48000</Input>
          <Output>2362</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>48500</Input>
          <Output>2383</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>49000</Input>
          <Output>2401</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>49500</Input>
          <Output>2420</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>50000</Input>
          <Output>2439</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>50500</Input>
          <Output>2455</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>51000</Input>
          <Output>2471</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>51500</Input>
          <Output>2490</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>52000</Input>
          <Output>2506</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>52500</Input>
          <Output>2521</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>53000</Input>
          <Output>2538</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>53500</Input>
          <Output>2555</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>54000</Input>
          <Output>2571</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>54500</Input>
          <Output>2580</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>55000</Input>
          <Output>2584</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>55500</Input>
          <Output>2600</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>56000</Input>
          <Output>2615</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>56500</Input>
          <Output>2632</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>57000</Input>
          <Output>2646</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>57500</Input>
          <Output>2662</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>58000</Input>
          <Output>2678</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>58500</Input>
          <Output>2694</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>59000</Input>
          <Output>2707</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>59500</Input>
          <Output>2728</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>60000</Input>
          <Output>2744</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>60500</Input>
          <Output>2763</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>61000</Input>
          <Output>2770</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>61500</Input>
          <Output>2795</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>62000</Input>
          <Output>2814</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>62500</Input>
          <Output>2836</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>63000</Input>
          <Output>2855</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>63500</Input>
          <Output>2876</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>64000</Input>
          <Output>2895</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>64500</Input>
          <Output>2918</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>65000</Input>
          <Output>2943</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>65500</Input>
          <Output>2966</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>66000</Input>
          <Output>2993</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>66500</Input>
          <Output>3019</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>67000</Input>
          <Output>3047</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>67500</Input>
          <Output>3078</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>68000</Input>
          <Output>3109</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>68500</Input>
          <Output>3137</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>69000</Input>
          <Output>3174</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>69500</Input>
          <Output>3209</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>70000</Input>
          <Output>3243</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>70500</Input>
          <Output>3277</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>71000</Input>
          <Output>3312</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>71500</Input>
          <Output>3343</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>72000</Input>
          <Output>3380</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>72500</Input>
          <Output>3411</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>73000</Input>
          <Output>3447</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>73500</Input>
          <Output>3472</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>74000</Input>
          <Output>3498</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>74500</Input>
          <Output>3524</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>75000</Input>
          <Output>3549</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>75500</Input>
          <Output>3575</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>76000</Input>
          <Output>3599</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>76500</Input>
          <Output>3620</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>77000</Input>
          <Output>3640</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>77500</Input>
          <Output>3663</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>78000</Input>
          <Output>3683</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>78500</Input>
          <Output>3708</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>79000</Input>
          <Output>3724</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>79500</Input>
          <Output>3749</Output>
        </CalibrationPoint>
        <CalibrationPoint>
          <Input>80000</Input>
          <Output>3750</Output>
        </CalibrationPoint>
      </CalibrationData>
    </Device>
  </Devices>
</HenkieF16FuelFlowIndicator>